<!DOCTYPE html>
{# vim:se filetype=htmltornado: #}

<link rel="stylesheet" href="{{ static_url("object.css") }}">

<a href={{ reverse_url("object") }}>{{ "<<<" }}</a>

{% if s %}
<p><code>{{ s }}</code></p>
<p><code>{{ repr(v) }}</code></p>
{% end %}

<ul>
    {% for k in l %}
    <li>
    {% if s %}
    <a href="?{{ "{}.{}".format(s, k) }}">{{ k }}</a>
    {% else %}
    <a href="?{{ k }}">{{ k }}</a>
    {% end %}
    </li>
    {% end %}
</ul>

<script src="{{ static_url("zepto.min.js") }}"></script>
<script src="{{ static_url("object.js") }}"></script>
