<!DOCTYPE html>
{# vim:se filetype=html.tornadotmpl: #}

<link rel="stylesheet" href="{{ static_url("object.css") }}">

<a href={{ reverse_url("object") }}>{{ "<<<" }}</a>

<p><code>{{ s }}</code></p>
<p><code>{{ v }}</code></p>

<ul>
    {% for k in l %}
    <li>
    {% if v is not None %}
    <a href="?{{ "{}.{}".format(s, k) }}">{{ k }}</a>
    {% else %}
    <a href="?{{ k }}">{{ k }}</a>
    {% end %}
    </li>
    {% end %}
</ul>

<script src="{{ static_url("zepto.min.js") }}"></script>
<script src="{{ static_url("object.js") }}"></script>
