* {
    font-family: "Monaco", monospace;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

pre {
    word-wrap: break-word;
}

body {
    margin: 10px;
}

input {
    border: none;
    outline: none;
    width: 90%;
}
